h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: teal underline wavy;
    letter-spacing: 15px;
}

p {
    text-align: normal;
    line-height: 2;
}

a {
    text-decoration: none;
}